<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.btsland.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <application
        android:name=".BtslandApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_black"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_black"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/welcomeTheme.TranslucentStatus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PurseAssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PurseAccessRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PurseTradingRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PurseWholeGuadanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PurseWalletBackupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MarketDetailedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.NewsContentActivity"
            android:screenOrientation="portrait">
            //注册NewsContentActivity活动
        </activity>
        <activity
            android:name=".ui.activity.NewsTest"
            android:screenOrientation="portrait">
            //新闻测试
        </activity>
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VersionInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RecentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EntrustActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/welcomeTheme.TranslucentStatus" />
        <activity android:name=".ui.activity.TransferActivity" />
        <activity android:name=".ui.activity.SettingDealActivity" />
        <activity android:name=".ui.activity.LookActivity" />
        <activity android:name=".ui.activity.C2CExchangeActivity" />
        <activity android:name=".ui.activity.ExchangeDetailedActivity" />
        <activity android:name=".ui.activity.DealerNoteListActivity" />
        <activity android:name=".ui.activity.DealerExchangeDetailedActivity" />
        <activity android:name=".ui.activity.BorrowActivity" />
        <activity android:name=".ui.activity.DealerInfoActivity"></activity>
    </application>

</manifest>