<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.btsland.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_black"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_black"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.HOME" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.UserActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.USER" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SETING" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:theme="@style/welcomeTheme.TranslucentStatus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AssetActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ASSET" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ABOUTUS" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MarketDetailedActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MARKET_D" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NewsContentActivity"
            android:screenOrientation="portrait">
            //注册NewsContentActivity活动
        </activity>
        <activity android:name=".ui.activity.UsersGuidanceActivity" />
        <activity android:name=".ui.activity.VersionInformationActivity"></activity>
    </application>

</manifest>